# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/
xcuserdata/

# OS X
#
.DS_Store

# Swift Package Manager
#
.build/
.swiftpm/

# Dependency managers
#
Pods/
Carthage/Build/
.add_uitest_target_p*.py
.audit_pbxproj.py
